.gchat__container {
    display: flex;
    flex-direction: column;
}

.gchat__input {
    display: flex;
    flex-direction: row;
}

.gchat__input input {
    display: flex;
    flex-grow: 1;
    margin-right: 10px;
}

.gchat__output {
    display: flex;
    flex-direction: column;
}