.hero_stats {
  display: flex;
  flex-direction: column;
}

.hero_deliner {
  height: 2px;
  background-color: var(--primary);
}

.hero_stat {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 5px;
}

.hero_stat:last-child {
  margin-bottom: 0px;
}

.hero_stat_icon {
  display: flex;
  margin-right: 5px
}

.hero_stat_text {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.hero_stat_points {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}
