.arena__container {
  display: flex;
  flex-direction: column;
}

.arena__opponent{
  display: flex;
  flex-direction: row;
  margin: 10px 0px;
}

.arena__controls {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.arena__controls > div:first-child {
  margin-right: 5px;
}