.arena__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.arena__heroes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  padding: 0px 10px;
  background-image: url(../assets/arena.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.arena__hero {
  flex-direction: column;
  padding: 3px;
}

.arena__hero > div {
  margin: 2px 0px;
}

.arena__controls {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 300px;
  padding: 10px;
}

.arena__controls > div {
  margin-right: 10px;
}

.arena__logs {
  display: flex;
  top: 45%;
  left: 45%;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
}

.arena__logs_opp, .arena__logs_user {
  display: flex;
  align-items: center;
  font-family: Arial;
  font-weight: 900;
}

.arena__logs_user {
  color: rgb(47, 47, 119);
  
}

.arena__logs_opp {
  color: rgb(128, 25, 25);
}