.button__container {
  background: #554539;
  border: 2px solid #2f281d;
  border-radius: 10px;
}

.button__inner_container {
  display: flex;
  justify-content: center;
  padding: 5px;
  font-weight: bold;
  border-radius: 10px;
  border: 2px solid #715d4e;
}

.button__inner_container.small {
  padding: 2px 10px;
  font-size: var(--smallFontSize);
}

.button__container:hover {
  background-color: #715d4e;
  cursor: pointer;
}

.button__icon {
  display: flex;
  margin-right: 2px;
}

.button__text {
  display: flex;
  align-items: center;
}
