.menu_item__container {
  display: flex;
  flex-direction: row;
  padding: 5px 0px;
  margin: 5px 0px;
  background: linear-gradient(rgb(40, 40, 40), black, rgb(40, 40, 40));
  box-shadow: inset 0px 0px 0px 2px #535152;
  border-radius: 10px;
}

.menu_item__container::after {
  content: "";
  width: 10px;
  
}

.menu_item__container:hover {
  cursor: pointer;
  background: linear-gradient(#72100f, #580c0f, #72100f);
  box-shadow: inset 0px 0px 0px 2px #535152;
  color: white;
  border-radius: 10px;
}

.menu_item__text {
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 3px 0.5px rgba(0, 0, 0, 0.25));
}

.menu_item__icon {
  display: flex;
  justify-content: flex-end;
  margin: 0px 10px;
}
