:root {
  --primary: #4a372c;
  --secondary: #2f5624;
  --red: #d0021b;
  --green: #417505;
  --blue: #4a90e2;
  --fontPrimary: wheat;
  --regularFontSize: 15px;
  --smallFontSize: 10px;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: var(--regularFontSize);
  background-color: #303030;
  color: var(--fontPrimary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  display: flex;
  justify-content: center;
  background-color: #303030;
}

a {
  text-decoration: none;
  color: var(--fontPrimary);
}

input {
  background: #25201d;
  color: var(--fontPrimary);
  padding: 5px 10px;
  border-radius: 10px;
  border-color: var(--fontPrimary);
}
